.confirm{
  padding: 24px;
}

.confirm__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title{
  font-size: 1.2rem;
}

.confirm__action{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

@media only screen
   and (max-width : 768px) {

    .confirm{
      padding: 24px 10px;
    }

    .confirm__action{
      flex-direction: column;
    }

    .confirm__action .button{
      width: 100%;
    }
}
