<div class="people-list">

  <mat-table class="people-list__table" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="id" > {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="name" > {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="email">{{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data de nascimento </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="data de nascimento">{{row.birthDate | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let row" class="table__actions" data-label="">
        <button class="button button-icon button-icon--blue" matTooltip="Editar" (click)="edit(row)">
          <mat-icon class="icon">edit</mat-icon>
        </button>
        <button class="button button-icon button-icon--red"  matTooltip="Deletar" (click)="delete(row.id)">
          <mat-icon class="icon">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <tr class="table__no-result" *matNoDataRow>
      <td colspan="5">Não foi encontrado nenhum registro{{filter.value ? ' corresponde a "' + filter.value+ '"'  : '!' }}</td>
    </tr>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"></mat-paginator>
</div>
