.people-form{
  padding: 24px;
}

.people-form__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title{
  font-size: 1.2rem;
}

.people-form__content{
  width: 100%;
}

.content__form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.content__input{
  width: 100%;
}

.people-form__action{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}


@media only screen
   and (max-width : 768px) {

    .people-form{
      padding: 24px 10px;
    }

    .people-form__action{
      flex-direction: column;
      gap: 1em;
    }

    .people-form__action .button{
      width: 100%;
    }
}
