.input-container{
  width: 100%;
}

.input{
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ced4da;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s;
  color: #212121;
}

.input:focus-visible{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #bfdbfe;
  border: 1px solid #3B82F6;
}

.input:hover{
  border: 1px solid #3B82F6;

}

.label{
  color: #212121;
  font-weight: 500;
  margin-bottom: 0.5em;
  display: inline-block;
}
