.people{
  margin: 1em 10em;
}

.people__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  box-sizing: border-box;
  background-color: #fafafa;
  border-radius: 10px;
}

.header__filter{
  width: 100%;
}

.people__list{
  margin-top: 2em;
  background-color: #fafafa;
  border-radius: 10px;
}


@media only screen
   and (max-width : 768px) {
    .people{
      margin: 1em;
    }

    .people__header{
      flex-direction: column;
    }

    .button{
      width: 100%;
    }
}

@media only screen and (max-width : 1200px) {
  .people{
    margin: 1em 2em;
  }
}
